@media screen and (max-width: 320px) {

    // ----
    .siderTitles {

        .sideText {}
    }

    .mainBody {
        &.container {

            .headMyWords {

                .headIntro {
                    bottom: auto;

                    p {
                        a {}
                    }
                }
            }

            .projects {

                .RightStory {

                    .firstBlock {

                        .decorBack1 {}

                        .decorBack2 {}

                        img {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .Wuhe {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }
                }

                .Avatar {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .Form {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .Spark {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .IndustrialDesign {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }
                }
            }
        }

        .headMyWords {

            .headIntro {

                p {
                    a {}
                }
            }
        }

        .projects {

            .RightStory {

                .firstBlock {

                    .decorBack1 {}

                    .decorBack2 {}

                    img {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .Wuhe {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }
            }

            .Avatar {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .Form {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .Spark {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .IndustrialDesign {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {

    // ----
    .siderTitles {

        .sideText {}
    }

    .mainBody {
        &.container {

            .headMyWords {

                .headIntro {
                    bottom: auto;

                    p {
                        a {}
                    }
                }
            }

            .projects {

                .RightStory {

                    .firstBlock {

                        .decorBack1 {}

                        .decorBack2 {}

                        img {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .Wuhe {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }
                }

                .Avatar {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .Form {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .Spark {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }

                    .block {}
                }

                .IndustrialDesign {

                    .firstBlock {

                        img {}

                        .decorBack1 {}

                        .decorBack2 {}

                        .textBlock {

                            .head {

                                p {}
                            }

                            .text {

                                p {
                                    .underline {}
                                }
                            }
                        }

                        .learnMore {

                            a {}
                        }
                    }
                }
            }
        }

        .headMyWords {

            .headIntro {

                p {
                    a {}
                }
            }
        }

        .projects {

            .RightStory {

                .firstBlock {

                    .decorBack1 {}

                    .decorBack2 {}

                    img {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .Wuhe {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }
            }

            .Avatar {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .Form {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .Spark {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }

                .block {}
            }

            .IndustrialDesign {

                .firstBlock {

                    img {}

                    .decorBack1 {}

                    .decorBack2 {}

                    .textBlock {

                        .head {

                            p {}
                        }

                        .text {

                            p {
                                .underline {}
                            }
                        }
                    }

                    .learnMore {

                        a {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 80%;
    }
}