footer.footer-2.text-center-xs.pt64.pb64
  .container
    .row.d-flex.justify-content-center.align-items-center
      .col-sm-3
        a(href='index.html' target='_self')
          .vnu
            img.image-xxs.fade-half(alt='Clement' src='assets/images/clement-dark-v0.1.png')
      .col-sm-5.text-center.pt8
        span.fade-half
          | Designed and coded by Clement 
          br
          | &copy; Copyright 2020 - All Rights Reserved

      .col-sm-3.text-right.text-center-xs.pt8
        ul.list-inline.social-list
          li
            a(href='https://www.linkedin.com/in/clement-liu/' target='_blank')
              i.fa.fa-linkedin
          li
            a(href='https://github.com/ClementLiu' target='_blank')
              i.fa.fa-github-square
          //- li
          //-   a(href='#')
          //-     i.ti-dribbble
          //- li
          //-   a(href='#')
          //-     i.ti-vimeo-alt