.nav-container
  nav
    .nav-bar
      .module.left
        a(href='index.html')
          img.logo.logo-light(alt='Clement' src='assets/images/logo-light.png')
          .vnu
            img.logo.logo-dark(alt='Clement' src='assets/images/clement-logo-big-v1.0.png')
      .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs
        i.ti-menu
      .module-group.right
        .module.left
          ul.menu
            li
              a(href='index.html' target='_self') Projects
            li.vpf
              a(href='me.html' target='_self') Me&nbsp;
            li.vpf
              a(href='ClementLiu_Resume.pdf' target='_self') R&eacute;sum&eacute;