@landingColor: #ccc;
.nav-container {
  .nav-bar {
    background-color: @landingColor;
  }
}
section.landing {
  background-color: @landingColor;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .jumbotron {
    background-color: @landingColor;
    display: flex;
    align-items: center;
    .background-image-holder {
      background-position: 50% 100% !important;
    }
    .container {
      h1,
      h2,
      h3,
      h4,
      h5,
      p,
      span {
        color: @clement;
      }
      span {
        display: inline-block;
      }
      span.underlineAnima.design {
        background: linear-gradient(to right, Gold, Gold 50%, @clement 50%);
        line-height: unset;
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        &:hover {
          background-position: 0 100%;
        }
      }
      span.underlineAnima.develop {
        background: linear-gradient(to right, Navy, Navy 50%, @clement 50%);
        line-height: unset;
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        &:hover {
          background-position: 0 100%;
        }
      }

      h1 {
        font-size: 2.8rem;
        span.underline {
          #underlineHover;
        }
        b {
          cursor: default;
        }
      }
      h3 {
        letter-spacing: 0.1rem;
        position: relative;
        display: inline;
        &:after {
          content: "";
          z-index: -1;
          position: absolute;
          width: 110%;
          transform: translateX(-3%);
          transition: all 0.3s ease-in-out;
          height: 100%;
          border-radius: 30px;
          left: 0;
          bottom: 0;
          background-color: white;
        }
      }
    }
  }
}
