extends ../layouts/project-layout.pug
block content
  section.pt-5.my-5
    .container
      +projectTitle(
        {title:"H.EAR POSTER",
        titleDes:"",
        des:[
        {desTitle:"Roles",desRole:["Graphic Designer"]},
        {desTitle:"Deliverables",desRole:["Posters"]},
        {desTitle:"Tools",desRole:["Photoshop"]},
        {desTitle:"Time",desRole:["Two weeks"]},
        ]
        }
        )
  section
    .container
      +sectionTitle("Connotative Poster")
      .row
        .col-sm-12
          .image-slider.slider-all-controls.controls-inside
            ul.slides
              li
                img(alt='showcase01' src='assets/images/headphone-showcase01-v0.3.jpg')
  section
    .container
      +sectionTitle("Inspiration")
      .row
        .col-sm-8.col-sm-offset-2.text-center
          p
            | It&rsquo;s a connotative poster designed for Sony Headphones MDR-100AAP, which has premium High-Resolution Audio and Eye-catching surfaces.The the action and emotion it associated with is the breathtaking sound quality and wide range of bright color finish.
      .row
        .col
          img(alt='intro' src='assets/images/headphone-intro-v0.1.jpg')
  section
    .container
      +sectionTitle("Poster")
      .row.no-sal
        .col-sm-12
          .image-slider.slider-all-controls.controls-inside
            ul.slides
              li
                img(alt='poseter' src='assets/images/headphone-poseter-v0.2.jpg')

include /_mixins/mixins.pug