extends ../layouts/project-layout.pug
block content
  section.cover.image-bg.white-bg.fullscreen
    .background-image-holder
      img(src="assets/images/hiv-test-head-v4.0@2x.png", alt="test-head").background-image
    .container
  section.pt96
    .container
      +projectTitle(
        {title:"HIV TEST APPLICATION",
        titleDes:"Oraquick is an in-home HIV oral test kit for users to get HIV test results within 30 mins. But it might have false results which lead to bad product reviews. We designed the digital product for Oraquick to reduce the complaints by providing clear instructions and further assistance for the user with a positive result.",
        des:[
        {desTitle:"Roles",desRole:["UX Designer"]},
        {desTitle:"Deliverables",desRole:["Prototype"]},
        {desTitle:"Tools",desRole:["Figma","After Effects","Illustrator"]},
        {desTitle:"Time",desRole:["Seven weeks"]},
        ]
        }
        )
  section.pt32.pb0
    .container
      .row.mt40.mb40
        .col-md-12.text-center
          img(src="assets/images/hiv-instruction-draw.gif", alt="process").pl16.pr16
  section.pt0.pb32
    .container
      .row.pt72.pb72.mt72.vertical-center-flex
        .col-md-6.z-index-10
          h3.mb24 Conduct oral HIV test correctly
          p Edited and optimized instructions from manual books to give corresponded suggestions for various situations, like the appropriate time to have a test, or setting a reminder for future.
        //- .col-md-5.col-md-push-1.text-center.imgWithPatternContainer
            //- img.imgWithbakcgroundPattern(src="assets/images/hiv-demo1.gif", alt="imgWithbackgrounPattern")
        +imgWithPatternContainer(
            "assets/images/hiv-demo1.gif",
            "hiv-demo1",
            "assets/images/hiv-demo1-back.svg",
            "hiv-demo1-back"
          )
      .row.pt72.pb72.mt72.vertical-center-flex
        .col-md-6.z-index-10
          h3.mb24 Encourage double test and provided related support
          p Provide HIV facts to user’s situation. Help user easily get connected with local communities and make double test to comfirmed the result.
        +imgWithPatternContainer(
            "assets/images/hiv-demo2.gif",
            "hiv-demo2",
            "assets/images/hiv-demo2-back.svg",
            "hiv-demo2-back"
          )
      .row.pt72.pb72.mt72.vertical-center-flex
        .col-md-6.z-index-10
          h3.mb24 Guide user to get help from nearby  HIV communities
          p HIV cometimes can be terrifing, but users are not left alone. We guild users search the service based on their needs and locations. 
        +imgWithPatternContainer(
            "assets/images/hiv-demo3.gif",
            "hiv-demo3",
            "assets/images/hiv-demo3-back.svg",
            "hiv-demo3-back"
          )
      //- .row.pt72.pb72.mt72.text-center.flex-horizontal
      //-   .col-md-6
      //-     img(src="assets/images/hiv-demo1.gif", alt="hiv-demo1")
      //- .row.pt72.pb72.mt72.text-center.flex-horizontal(style="background-color:#BECFFF")
      //-   img(src="assets/images/hiv-demo2.gif", alt="hiv-demo2")
      //-   img(src="assets/images/hiv-demo3.gif", alt="hiv-demo4")
  section.pt0.pb32
    .container
      +sectionTitle("Understanding")
      .row
        .col-md-6
          h5 Desk research
          p
            |First, I inspected the Oraquick test kit and tried it out to understand how the user would interact with it, and identified pain points might lead to a false result. They include: 
          ul
            li 
              | 
              strong - There are various requriements for test
            li 
              |
              strong - Critical informations hide in heavy text
            li 
              |
              strong - Little support information for positive user
        .col-md-5.col-md-push-1
          img(src="assets/images/hiv-deskResearch-photos-v2.png", alt="desk-research").pl24.pr24

          //- img(src="assets/images/hiv-deskResearch-photos-v2.png", alt="desk-research").pl16.pr16
  section.pt64.pb64
    .container
      +sectionTitle("Research ")
      +h5TitleDesRow("User interview",
      "From the desk research, I developed an interview guide to check each pain point and used to make sure the questions asked at the user interviews were systematic and comprehensive."
      )
      .row
        .col-md-6
          +modalImg("userQueryId","assets/images/hiv-userQuery-v1.png","userQuery").mb16
          p
            |I interviewed users with negative results, and here are quotes and personas.
        .col-md-6
          +modalImg("userAnswerId","assets/images/hiv-interviewSynthesize01.png","Answer").mb16
      .row.mt24
        .col-md-12
          img(src="assets/images/hiv-interviewSynthesize01-v2.png", alt="interviewSynthesize01").pl16.pr16
      .row.mt24
        .col-md-12
          img(src="assets/images/hiv-interviewSynthesize02-v2.png", alt="interviewSynthesize02").pl16.pr16
      +h5TitleDesRow("Research synthesis",
      "The HIV in-home test was a stressful experience. From the thinking of getting the test kit to the end of the result, they were doing it with heavy mental burdens and stresses."
      )(class="mt24")
      .row.mt24
        ul.col-md-8.col-md-push-2.text-left
          li - Suspicious about having HIV is the main reason that leads users to use the HIV test kit. 
          li - The fear from imagining the desperate future they might have gives user heavy mental stress.
          li - I notice that even the HIV stigma had been wildly discussed, but people are still don't want to be blamed for it.
          li - To correctly perform the test is easy because of the simple instruction flipbook, but they would miss the critical test requirement on the supplementary HIV booklet.
      .row.mt24
        .col-md-6.col-md-push-3.text-center
          img(src="assets/images/hiv-researchIcons-v1.png", alt="researchIcons")
  section.pt64.pb64
    .container
      +sectionTitle("Define ")
      .row
        .col-md-6
          h5 Storyboard - original
        .col-md-12
          img(src="assets/images/hiv-storyBoard02.png", alt="storyBoard01")
        .col-md-6
          h5 Storyboard - new
        .col-md-12
          img(src="assets/images/hiv-storyBoard01.png", alt="storyBoard01")
      .row.mt96.v-align-children
        .col-md-6.border-line-between-thick
          .ml16
            h4 Design principle
          .ml16.mt24
            h5.mb8 Friendly
            p Since users have heavy mental stress, the script and interface should be friendly and comfort them.  
          .ml16.mt24
            h5.mb8 Simple
            p Users should be effortlessly guided through the test process and understand the test required to get a reliable result.
          .ml16.mt24
            h5.mb8 Trustworthy
            p The digital product should be able to inherit the privacy feature of the in-home test kit.
      .row.mt96.v-align-children
        .col-md-6
          h6.text-muted.mb0 Design goal
          h5.mb16 I aim to clarify the test requirements and accuracy and add more care to people with a positive result.
          p.mb0 The step and step instructions can easily direct the user to do the test correctly, but there are dense texts. The waiting time is exhausting for users rather than boring because the user takes the test very seriously. The anxiety is much more than I imagined. That explained why the user gave such harsh criticism on the false-positive result. After discussing with the team, we decided our design goals for reducing complain about false results:
          ul
            li - Users with a positive result would feel being cared for. And the support center has more calls.
            li - The user would follow the instruction and clearly know the requirements for a reliable result.
  section.pt64.pb64
    .container
      +sectionTitle("Ideate - feel being cared")
      .row
        .col-md-7
          h6.text-muted.mb0 Addressing caring the positive users
          h5.mb16 More than a subjective test kit and adding extra cares for positive users.
          p With the issue that there is a possibility of a false result, I decided to not only focus on help users correctly following the instructions but also guild the positive user thorough the experience of HIV confirm and healing. From the user interview before, users are likely to have the fears for the hopeless life with HIV and the unimaginable destruction to their life because they might have the stigma of HIV or not knowing the facts of HIV. "The internet just drives you crazy." These fears and hopeless turn into loud complain when they learn false results fooled them.
        .col-md-5
          img(src="assets/images/hiv-AddressingPosi-v1.png", alt="AddressingPosi")
      .row.mt48
        .col-md-12
          h5.mb8 User journey
          img(src="assets/images/hiv-userJourney.png", alt="hiv-userJourney")
      .row.mt96
        .col-md-6
          h6.text-muted.mb0 The initial idea - support
          h5.mb16
            |I aimed to ideate on caring methods for positive users. Most of the supports information focused on people already confirmed with HIV.
          p
            |I had ideas that the application shows the treatment of HIV and HIV support policy. Still, there were concerns that before confirming test results from a doctor, positive users are not HIV patients. My other ideas include HIV patients' lives with hope and showing how they positively handle the diseases and difficulties in life. Knowing the users' situation and providing trustful stories related to them are the main challenges.
        .col-md-6
          +carousel("assets/images/hiv-initialSupport02-v1.png","assets/images/hiv-initialSupport01-v1.png")
      .row.mt8.v-align-children
        .col-md-10
          img(src="assets/images/hiv-Support-v1.png", alt="Support")
      .row.mt96
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-suport01-v1.png", alt="suport01")
            ul.small
              li Searchable gov information.
              li Lack of hierarchy?
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-suport02-v1.png", alt="suport02")
            ul.small
              li Suggest calling the support line.
              li A big step forward.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-suport03-v1.png", alt="suport03")
            ul.small
              li Doctor around.
              li Limited information.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-suport04-v1.png", alt="suport04")
            ul.small
              li HIV Q&A
              li Articles and videos for different situations.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-suport05-v1.png", alt="suport05")
            ul.small
              li Landing page for potential HIV.
              li Can't come back.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-suport06-v1.png", alt="suport06")
            ul.small
              li HIV community links.
      .row.mt96.v-align-children
        .col-md-8
          +modalImg("pointDrawId","assets/images/hiv-pointDraw-v1.png","pointDraw")
        .col-md-4
          h5.mb8 Point the what should do
          p We decide to use HIV community information and specific instructions for typical situations. The HIV community would provide confirm test and people to help. The special education would give useful directions for users to reduce anxiety from the unknown.
  section.pt64.pb64
    .container
      +sectionTitle("Ideate - feel bein")
      .row.v-align-children
        .col-md-6
          h6.text-muted.mb0 The initial idea - instruction
          h5.mb16 Chopping blocks of text into small pieces and talk with users. And provide specific support for users.
          p.mb0 I aimed to ideate on humanizing onboarding experience. Take it easy also calm down our users. I have ideas that turn dense text into step by step simple dialog. Instead of putting a page of instruction and requirement text in-front of users' faces, the heavy reading work can become a warm chatting between user and application. And by learning the user's situation, we'd provide more specified instruction for users.
        .col-md-6
          img(src="assets/images/hiv-initialIdea-draw-v1.svg", alt="initialIdea")
      //Initial idea draw
      .row.mt96
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-instructionDraw01-v1.png", alt="instructionDraw01")
            ul.small
              li Simple to consume information.
              li Why would I trust a bot?
              li Answers are immutable.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-instructionDraw02-v1.png", alt="instructionDraw02")
            ul.small
              li Simple to understand each requirement.
              li Always screen changing lose consistency.
              li Always screen changing lose consistency.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-instructionDraw03-v1.png", alt="instructionDraw03")
            ul.small
              li Easy to understand and visually comfort the user.
              li Difficult for getting customized content.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-instructionDraw04-v1.png", alt="instructionDraw04")
            ul.small
              li Easily navigate and track all steps.
              li Difficult for adding customized content.
              li Limiting question options.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-instructionDraw05-v1.png", alt="instructionDraw05")
            ul.small
              li Clear direction.
              li Lack of details.
              li Difficult to maintain.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-instructionDraw06-v1.png", alt="instructionDraw06")
            ul.small
              li Fewer mistakes and get confirmed on every step.
              li Tedious inputting operation.
      .row.mt96.v-align-children
        .col-md-4
          img(src="assets/images/hiv-testInstructionsDraw-v1.png", alt="testInstructionsDraw")
        .col-md-4
          h5.mb8 Test instructions - question & diagrams.
          p We decided to use the question to separate instructions and have a task status bar as an overview for consistency. In each step, there would be an explanation and illustration for details and comforting users.
  section.pt64.pb64
    .container
      +sectionTitle("Prototype - paper test")
      .row.v-align-children.mb16
        .col-md-12
          +imgCaption('assets/images/hiv-drawtest-v1.png',"drawtest","We asked people to test the flow to inspect the correspondence between questions and reasons.",true)
      .row
        .col-md-12
          h5.mb4 User flow
        .col-md-12
          img(src="assets/images/hiv-userFlow.png", alt="hiv-userFlow")
  section.pt64.pb64
    .container
      +sectionTitle("Insight ")
      .row
        .col-md-8
          h5.mb8 Test, link, and treat—locator guild HIV positive user to the service around.
          p After a rapid test, we realized that users have various situations. At the same time, there are different policy details response to different issues, like house support, medical cost waive, pregnant support, transportation help, etc. And thinking about our initial idea is to adding care for potential HIV users. Instead of keeping them in the application with a bunch of information, it would be better to prepare the user to walk out of the application to find the right people providing specific help and confirm the test. Meanwhile, I learn the HIV prevention model is “test, link, and treat.” The community section is far more important than HIV facts for potential HIV users. The application could help positive user easier to get to HIV service locations. And this function would be a similar service as the support phone call to make the user feel being cared for. Meanwhile, the usage of this function can be easily tracked as an indicator.
        .col-md-4
          img(src="assets/images/hiv-linkLocatorIcon-v2.svg", alt="linkLocatorIcon")
      .row.mt48
        .col-md-12
          img.mb8(src="assets/images/hiv-userFlow-connect.png", alt="hiv-userFlow-connect")
        .col-md-8
          p.small We decided to add a Locator function for users to have a more distinct view of HIV services around them. The goal is to make the locator accessible and friendly for the user and reduce the friction of going to the test site.
  section.pt64.pb64
    .container
      +sectionTitle("Ideate - encourage to get connected")
      .row
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw01-v1.png", alt="locatorDraw01")
            ul.small
              li Search by clinic name familiar to users.
              li It is limited to the user's knowledge.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw02-v1.png", alt="locatorDraw02")
            ul.small
              li Search primarily on the map for feeling accessible.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw03-v1.png", alt="locatorDraw03")
            ul.small
              li Ask for the ZIP code for the initial map location.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw04-v1.png", alt="locatorDraw04")
            ul.small
              li Users can choose where to go, doctorer, or communities.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw05-v1.png", alt="locatorDraw05")
            ul.small
              li Pop up to show details, phone calls, and address.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw06-v1.png", alt="locatorDraw06")
            ul.small
              li Easy to compare various locations.
        .clearfix
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw07-v1.png", alt="locatorDraw07")
            ul.small
              li Show an example location to educate users.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw08-v1.png", alt="locatorDraw08")
            ul.small
              li Show name tag.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw09-v1.png", alt="locatorDraw09")
            ul.small
              li Move down the chose for more comfortable operating.
        .col-md-2.col-sm-4.col-xs-6
          .imgCaption
            img(src="assets/images/hiv-locatorDraw10-v1.png", alt="locatorDraw10")
            ul.small
              li Add a navigation icon to reduce tedious duplication.
      .row.mt96.v-align-children
        .col-md-8
          h5.mb8 Prepare potential HIV user to take a blood test
          p We provide information about HIV test service that would help the positive user get confirmation from the doctor.  We also include the HIV.gov API for HIV service provider information to give a broader service for HIV patients, including treatments and mental health. When there is a high density of spots, the icon will show the amount of them. With the user's permission of zip code, the user would see the recommended service around them as a list or a map. Sorting and filter, like closest test service, language preference, and test type, would help the user to make a choice.
      .row.mt32.v-align-children
        .col-md-8
          img(src="assets/images/hiv-locatorDraw-v1.png", alt="locatorDraw")
  section.pt64.pb64
    .container
      +sectionTitle("UX details ")
      .row
        .col-md-12.text-center
          a.btn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
            | See more
      #collapseExample.collapse
        .row.mt56
          .col-md-7
            img(src="assets/images/hiv-resultPage-v1.png", alt="resultPage")
          .col-md-4.col-md-offset-1
            h5.mb8 Result page
            p The last step in test instruction is the most stressful moment. Instead of just telling which pattern is positive or negative, we let the user select the pattern first to reduce emotional bias and use two-step confirmation, choose and submit to reduce the false result from misoperate.
        .row.mt56
          .col-md-4.col-md-offset-1
            h5.mb8 Timer/reminder
            p The timer and reminder function would minimize stress from the user. The test time and date are critical for accuracy. Instead of letting the user take a note or watch the clock on the phone, which they might forget, the build-in timer lifts the burden from the user.
          .col-md-7
            img(src="assets/images/hiv-timerPage-v1.png", alt="timerPage")
        .row.mt56
          .col-md-4.col-md-offset-1
            h5.mb8 Notification
            p Privacy, privacy, privacy. It's critical to take care of privacy in the HIV test situation. And a sloppy notification would leak the personal information. We add how the notification will be after notification setting to give the user a sense of control and reduce the possibility of being seen by others.
          .col-md-7
            img(src="assets/images/hiv-notiPage-v1.png", alt="notiPage")
        .row.mt32
          .col-md-12.text-center
            a.btn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Collapse
  section.pt64.pb64
    .container
      +sectionTitle("Prototype - high fidelity")
        .col-md-12
          +modalImg("hiFiId","assets/images/hiv-hiFi-v1.png","hiFi").mb16
      .row.mt56.v-align-children
        .col-md-4.col-md-offset-2
          img(src="assets/images/hiv-demo1.gif", alt="demo1" style="box-shadow: 10px 10px 100px #6C97E0;border-radius: 30px;")
        .col-md-5
          h5.mb8 We simplified the instruction and status bar to make it simple to read and follow.
          p These questions are edited and optimized from manual books. The instruction would give corresponded suggestions for various conditions. If right now is not the appropriate time to have a test, it would lead the user to set a reminder for a future test. We used the status bar to indicate the steps left for giving the user a sense of control, and know what's going to happen. In the test part, we used a different color to prepare the user for doing the test mentally.
      .row.mt56.v-align-children
        .col-md-4.col-md-offset-2
          img(src="assets/images/hiv-demo2.gif", alt="demo2" style="box-shadow: 10px 10px 100px #6C97E0;border-radius: 30px;")
        .col-md-5
          h5.mb8 Encourage the  HIV positive user to take the double test and provided related support information.
          p To encourage the positive user to take a blood test, we add CTA on top. For users suspicious about their HIV, but not sure, the test list encourages people to do the regular test and review the test result. We use horizontal scrolls to help the user see more related categories on one screen.
      .row.mt56.mb56.v-align-children
        .col-md-4.col-md-offset-2
          img(src="assets/images/hiv-demo3.gif", alt="demo3" style="box-shadow: 10px 10px 100px #6C97E0;border-radius: 30px;")
        .col-md-5
          h5.mb8 Remove the list page,  and utilize the popup details to encourage contact with HIV services.
          p Users would search the service based on service type and location. It’s hard for the user to make the contact decision with a long list of the service names. And we move the zip from the top to the lower part, which is placed in Thumb Zone. In the popup page, there are icons to clarify the information, add the CTA buttons to simplify the contact, save, and share process.
          
          
include /_mixins/mixins.pug
include /_mixins/components.pug