extends ../layouts/default-layout.pug
block content
  .main-container
    section#projects.projects.pt48(style='overflow: visible;')
      .container
        .row.pb24.nav-sticky
          .col-sm-12.text-center
            ul.filters.mb0 
        .row.masonry-loader
          .col-sm-12.text-center
            .spinner
        .row.masonry.masonryFlyIn 
          .col-md-6.col-sm-6.masonry-item.project(data-filter='UX Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='hiv-test.html' target='_self')
                img(alt='visual' src='assets/images/hiv-app-v2.0.png')
                .title
                  h2.uppercase.mb0 Ora Quick 
                  span Provide HIV test taker with relaxed instructions and emotional supports.
          .col-md-6.col-sm-6.masonry-item.project(data-filter='UX Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='prediabetes.html' target='_self')
                img(alt='Prediabetes' src='assets/images/Prediabetes-v3.png')
                .title
                  h2.uppercase.mb0 Prediabetes
                  span
                    | A little survey game draws people&apos;s awareness of the 
                    | serious pre-diabetes situation.
          .col-md-6.col-sm-6.masonry-item.project(data-filter='UX Design,Visual Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              //- a(href='pages/rightStory/rightStroy.html' target='_self')
              a(href='rightstory.html' target='_self')
                img(alt='RightStory' src='assets/images/RightStory.jpg')
                .title
                  h2.uppercase.mb0 RIGHT STORY
                  span
                    | A smart speaker APP fits smart speaker with user&apos;s culture, and interests.
          .col-md-6.col-sm-6.masonry-item.project(data-filter='UX Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='avatar.html' target='_self')
                img(alt='Avatar' src='assets/images/Avatar-s-v1.0.jpg')
                .title
                  h2.uppercase.mb0 Avatar
                  span
                    | What if an online cyborg society&nbsp;
                    | presents an alternative reality for us?
          .col-md-6.col-sm-6.masonry-item.project(data-filter='UX Design,Visual Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='https://clementliu.github.io/WuHe/' target='_self')
                img(alt='Wuhe' src='assets/images/WuHe-v1.0.png')
                .title
                  h2.uppercase.mb0 Wuhe
                  span An experimental typography Website inspired by The Crowd.
          .col-md-6.col-sm-6.masonry-item.project(data-filter='Visual Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='poster-hand-write.html' target='_self')
                img(alt='visual' src='assets/images/visual-gig-v1.0.jpg')
                .title
                  h2.uppercase.mb0 VISUAL GIGS
                  span Selected graphic design projects


          .col-md-6.col-sm-6.masonry-item.project(data-filter='Visual Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='hear.html' target='_self')
                img(alt='headphone-poster' src='assets/images/headphone-thumb-v0.3.jpg')
                .title
                  h2.uppercase.mb0
                    | H.ear Poster
                  span
                    | Connotative poster design for Sony colorful and excellent headphones h&#8209;Ear.
          .col-md-6.col-sm-6.masonry-item.project(data-filter='Visual Design')
            .image-tile.inner-title.roundCorner.hover-reveal.text-center
              a(href='structure.html' target='_self')
                img(alt='Structure poster' src='assets/images/disassemble-thumb-v0.2.jpg')
                .title
                  h2.uppercase.mb0
                    | Structure
                  span
                    | A instructional poster uncovering the beauty of engineering and designing beneath classic printer.
