extends ../layouts/project-layout.pug
block content
  //- section.cover.image-bg.white-bg.fullscreen
  //-   .background-image-holder
  //-     img(src="assets/images/hiv-test-head-v4.0@2x.png", alt="test-head").background-image
  //-   .container
  //- section.pt-5.my-5
  //-   .container
  //-     +projectTitle(
  //-       {title:"Pareidoptcha",
  //-       titleDes:"Oraquick is an in-home HIV oral test kit for users to get HIV test results within 30 mins. But it might have false results which lead to bad product reviews. We designed the digital product for Oraquick to reduce the complaints by providing clear instructions and further assistance for the user with a positive result.",
  //-       des:[
  //-       {desTitle:"Roles",desRole:["UX Designer"]},
  //-       {desTitle:"Deliverables",desRole:["Prototype"]},
  //-       {desTitle:"Tools",desRole:["Figma","After Effects","Illustrator"]},
  //-       {desTitle:"Time",desRole:["Seven weeks"]},
  //-       ]
  //-       }
  //-       )
  //- section.py-0.my-5
  //-   .backgroundImg-md-container
  //-     img(src="assets/images/hiv-operation-bc-l.svg", alt="operation-bc").position-absolute.h-100.left-0
  //-     img(src="assets/images/hiv-operation-bc-r.svg", alt="operation-bc").position-absolute.h-100.right-0
    .container
      .row.mt40.mb40.pt-5.pb-5
        .col-md-12.text-center
          img(src="assets/images/hiv-instruction-draw.gif", alt="process").pl16.pr16
  section
    .container
      .row.justify-content-around.align-items-center
        .col-12.col-md-6.text-center.my-4
          //- img(src="https://via.placeholder.com/400x450", alt="https://via.placeholder.com/150")
          img(src="assets/images/pareidoptcha-home.gif", alt="pareidoptcha-home")
        +h3pTitleTextCol(
          {
            title:"PAREIDOPTCHA",
            des:'Pareidolia is the tendency for the incorrect perception of a stimulus as an object, pattern, or meaning known to the observer. “Psychologists failed to realize that imagination is a necessary ingredient of perception itself.” -- Kant. We craft a web game to see the different perceptions of humans and AI.',
            wid:'auto'
          }
        ).offset-1
          img(src="assets/images/pareidoptcha-name.svg", alt="pareidoptcha-name")
          a(href="https://iamnotarobot.xyz" target="_blank").btn.btn-rounded.btn-dark.mx-1.my-3 Play game
  +section-container
    .container
      .row
        +h3pTitleTextCol(
          {
            title:"Photo Matrix V1",
            des:'Extention of PAREIDOPTCHA with various difficulties (figurative to abstract) and series (human face, animal, character, etc.)',
            wid:'auto'
          })
      .row
        +modalImg("pareidoptcha-Photo-Matrix","assets/images/pareidoptcha-Photo-Matrix.png","pareidoptcha-Photo-Matrix")
      .row.mt-5
        +h3pTitleTextCol(
          {
            title:"Photo Matrix V2",
            des:'Difficulty synthesis map',
            wid:'auto'
          })
      .row
        +modalImg("pareidoptcha-Photo-Matrix-v2","assets/images/pareidoptcha-Photo-Matrix-v2.png","pareidoptcha-Photo-Matrix-v2")
      .row.mt-5
        +h3pTitleTextCol(
          {
            title:"Screens",
            des:'',
            wid:'auto'
          })
      .row
        +modalImg("pareidoptcha-show","assets/images/pareidoptcha-show.png","pareidoptcha-show")
      .row
        +modalImg("pareidoptcha-screens","assets/images/pareidoptcha-screens.png","pareidoptcha-screens")
block linkProjects
  section
    .container
      .row.d-flex.justify-content-end
        .col-md-6
          +linkFooterRight({
            titleName:"Prediabetes",
            imgLink:"../../assets/images/Prediabetes-v3.png",
            link:"/prediabetes.html"
            })

include /_mixins/mixins.pug