extends ../layouts/project-layout.pug
block content
  section.image-bg.white-bg.fullscreen
    .background-image-holder
      img(src="assets/images/earthPoster-context-v1.0.jpg", alt="earthPoster").background-image
  section.pt96
    .container
      +projectTitle(
        {title:"SPACESHIP-EARTH",
        titleDes:"In future design class, we were asked to design a poster to unveil the potential future we are heading. I looked into the cyborg world where human is connected with technology and being part of the big system. I used the concept from Buckminster Fuller, in which humans view the earth as a spaceship and every spice should be united for the best of our Spaceship instead of split parts. In the future cyborg world, Buckminster’s wish accomplished by communicating technology.",
        des:[
        {desTitle:"Roles",desRole:["Graphic Designer"]},
        {desTitle:"Deliverables",desRole:["Posters"]},
        {desTitle:"Tools",desRole:["Photoshop"]},
        {desTitle:"Time",desRole:["One weeks"]},
        ]
        }
        )
  section
    .container
      .row.justify-content-center
        .col-sm-8
          +modalImg("future-cone","assets/images/future-cone.png","future-cone").mb16
          //- img.mb-xs-24(alt='future-cone' src='assets/images/future-cone.png')
  section
    .container
      .row
        .col-sm-12
          h6.text-muted.mb0 Design scenario
          h5.mb16 A call for action poster for our SPACESHIP EARTH
          .col-sm-6.pl0 
            p I design a future poster hanged around the conference hall to call people to join the bigger community. Why each individual in the cyborg future is important rather than a disposable gear? The value of each individual for the big community will be individuals’ rich memories and behaviors.
          .col-sm-6.pl0 
            p Every individual’s memory is as important as others in history. Through collecting as much data as possible, we will have a better understanding of the bigger community, human society, and the spaceship Earth. 
      .row
        .col-sm-12
          .image-slider.slider-all-controls.controls-inside
            ul.slides
              li
                img(alt='whole-earth.png' src='assets/images/whole-earth.png')
  section
    .container
      .row
        +modalImg("earthPoster","assets/images/out-hall-poster.png","earthPoster").mb16
        //- .image-slider.slider-all-controls.controls-inside
        //-   ul.slides
        //-     li
        //-       img(alt='earthPoster' src='assets/images/out-hall-poster.png')
  section
    .container
      .row
        .col-sm-12
          .image-slider.slider-all-controls.controls-inside
            ul.slides
              li
                img(alt='earthPoster' src='assets/images/earth-poster.png')
include /_mixins/mixins.pug