// style
link(href='./assets/css/font-awesome.min.css' rel='stylesheet' type='text/css' media='all')
link(href='./assets/css/themify-icons.css' rel='stylesheet' type='text/css' media='all')
link(href='./assets/css/bootstrap.min.css' rel='stylesheet' type='text/css' media='all')
link(href='./assets/css/flexslider.css' rel='stylesheet' type='text/css' media='all')
link(href='./assets/css/vendor.css' rel='stylesheet' type='text/css' media='all')
link(href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css')
link(href="./assets/css/styles.css", rel="stylesheet") 