// webinfo
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
// Primary Meta Tags
title Clement Liu | Digital Product Designer
meta(name='title' content='Clement Liu | Digital Product Designer')
meta(name='description' content="Hey there! I'm Clement Liu. A designer/developer creates delightful experiences for humans.")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
meta(name="author" content="Clement Liu")
meta(property="og:type" content="website")


// Open Graph / Facebook
meta(property='og:type' content='website')
meta(property='og:url' content='https://clement-liu.com/')
meta(property='og:title' content='Clement Liu | Digital Product Designer')
meta(property='og:description' content="Hey there! I'm Clement Liu. A designer/developer creates delightful experiences for humans.")
// Twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='https://clement-liu.com/')
meta(property='twitter:title' content='Clement Liu | Digital Product Designer')
meta(property='twitter:description' content="Hey there! I'm Clement Liu. A designer/developer creates delightful experiences for humans.")

