.projectBrief {
    .border-line-between {
        height: 180px;
        padding-top: 0.5rem;
    }

    .border-line-between:after {
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        width: 70%;
        top: 0;
        border-left: double black;
        border-top: double black;
    }


}