extends ../base/base.pug
block layout
    include ../partials/header.pug
    .main-container.project-container
        .toc-container
            .toc(data-toc='h3' data-toc-container=".process-container-toc")
        block content
        block linkProjects
            section
                .container
                    .row.d-flex
                        .col-md-6
                            +linkFooterLeft({
                                titleName:"HIV test",
                                imgLink:"../../assets/images/hiv-app-v2.0.png",
                                link:"/hiv-test.html"
                                })
                        .col-md-6
                            +linkFooterRight({
                                titleName:"RightStory",
                                imgLink:"../../assets/images/RightStory.jpg",
                                link:"/rightstory.html"
                                })
    include ../partials/footer.pug
    //- include /_mixins/mixins.pug